.profile {
	flex: 1;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	border: solid 1px;
	border-color: #767676;
	margin: 5px;
	padding: 5px;
}

.profileImage {
	max-width: 75px;
}

.teamWrapper {
	display: flex;
	margin-bottom: 50px;
}

.teamPadding {
	width: 30%;
}