.profile {
	flex: 1;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	border: solid 1px;
	border-color: #d2d2d2;
	margin: 5px;
	padding: 5px;
	max-width: 90px;
	width: 90px;
}

.profileImage {
	max-width: 75px;
	border-radius: 10px;
	border-color: #999999;
}

.teamWrapper {
	margin-top: 50px;
	display: flex;
	margin-bottom: 10px;

}

.teamPadding {
	width: 30%;
}

h6 {
	font-family: "Regular";
	margin-bottom: 0px;
}