.headerWrapper {
	background-image: url("../images/book.png");
	background-size: 50%;
	background-position: 50%;
	display: flex;
}

.headerContainer {
	flex: 1;
}

.headerTopPadding {
	height: 50px;
}

.headerTextWrapper {
	font-family: "Regular";
	z-index: 50;
}

.headerShopname,
.headerSlogan {
	text-shadow: -1px -1px 3px #212529, 1px -1px 3px #212529, -1px 1px 3px #212529, 1px 1px 3px #212529;
}

.headerSlogan {
	color: #888888;
}