.headerWrapper {
	display: flexbox;
	font-family: "Regular";
}

.headerLogo {
	display: inline-block;
	position: absolute;
	left: 0;
	max-height: 20%;
    filter: invert(100%);
	font-family: "Regular";
}

.headerTextWrapper {
	flex: 1;
	text-align: center;
}