.headerWrapper {
	display: flexbox;
	min-width: 500px;
	
}

.headerLogo {
	display: inline-block;
	position: absolute;
	left: 0;
	max-height: 20%;
    filter: invert(100%);
	font-family: "Regular";
}

.headerTextWrapper {
	flex: 1;
	font-family: "Regular";
	text-align: center;
	z-index: 50;
}

.headerShopname,
.headerSlogan {
	text-shadow: -1px -1px 0 #212529, 1px -1px 0 #212529, -1px 1px 0 #212529, 1px 1px 0 #212529;
}