.toastLogin {
	z-index: 9999;
	top: 60px;
	right: 20%;
	position: fixed;
	max-width: 300px;
}

.toast,
.toastBody {
	--bs-toast-bg: rgba(255, 255, 255, 0.85);
	--bs-toast-header-color: #6c757d;
}

.toastIcon {
	max-width: 40px;
}

.toastInput {
	background-color:rgba(255, 255, 255, 0.85);
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.toastInput::after {
	opacity: 1;
}

.closeButton {
	background-color: #DFDFDF;
	border-radius: 50%;
	padding: 0.5em;
	width: 30px;
	height: 30px;
	border: 2px solid #dfdfdf;
	position: absolute;
	right: 15px;
  }
  .closeButton:hover {
	border: 2px solid #FFFFFF;
	background-color: #666666;
	color: #ffffff;
  }
  
  .closeButton::before {
	content: " ";
	position: absolute;
	display: block;
	background-color: #FFFFFF;
	width: 2px;
	left: 12px;
	top: 5px;
	bottom: 5px;
	transform: rotate(45deg);
  }
  .closeButton::after {
	content: " ";
	position: absolute;
	display: block;
	background-color: #FFFFFF;
	height: 2px;
	top:12px;
	left: 5px;
	right: 5px;
	transform: rotate(45deg);
  }
  

input {
margin: 3px;
}