.bookPrice {
	margin-top: 15px;
}

.bookAuthor {
	margin-top: 0px;
}

.productImage {
	object-fit: cover;
	width: 100%;
	height: 250px;
}

.bookTitle {
	margin-bottom: 0px;
}

.product {
	margin: 0px;
	padding: 5px;
	font-family: "Regular";
}

.productDetails {
	min-height: 105px;
}

.card,
.col {
	height: 100%;
}

.cartIcon {
	width: 20px;
	padding: 0;
	margin: 0;
}

.productButtonWrapper {
	justify-content: center;
	display: flex;
    text-align: center;
}

.productButton {
	margin: 1px;
	padding: 5px;
	flex: 1;
	vertical-align: middle;
	display: inline-block;
	width: 75px;
}